.armor-customization-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.customization-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 900px; /* Ensure it's centered within the parent container */

}

.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #555;
}

.armor-slots {
  display: flex;
  flex-direction: column;
}

.armor-slot {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.armor-header {
  font-weight: bold;
  margin-right: 20px;
  width: 120px;
  text-align: right;
}

.mod-grid {
  display: flex;
}

.mod {
  position: relative;
  margin: 5px;
  padding: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.submenu-grid {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #aaaaaa;
  padding: 10px;
  border: 1px solid #acacac;
  z-index: 1;
  flex-direction: row;
}

.mod:hover .submenu-grid {
  display: flex;
}

.submenu-item {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}
