/* src/components/Background.css */
.background-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('../assets/prismaticwarlock.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
