/* CustomizationPanel.css */
.customization-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.customization-content {
  width: 900px;
  height: 800px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.section {
  margin-bottom: 20px;
}

.section-header {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.7;
  position: relative;
}

.section-header::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 0.7;
}

.items-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.items-grid.two-items {
  justify-content: flex-start;
}

.items-grid.four-items {
  justify-content: flex-start;
  flex-grow: 1;
}

.items-grid.six-items {
  justify-content: flex-start;
  gap: 5px;
}

.row {
  display: flex;
  width: 100%;
}

.item {
  position: relative;
  padding: 1px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: transform 0.3s ease;
}

.item.large {
  width: 80px;
  height: 80px;
}

.item:hover {
  transform: scale(1.1);
}

.item:hover .submenu-grid {
  display: flex;
}

.submenu-grid {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 10px;
  border: 1px solid #acacac;
  z-index: 1;
  flex-direction: row;
}

.submenu-item {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

.empty-space {
  width: 60px;
  height: 60px;
}

.empty-space.right {
  margin-left: auto;
}
