/* SingleDiamondButton.css */
.single-diamond-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-diamond-button {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: opacity 0.3s, transform 0.3s, border 0.3s;
  cursor: pointer;
  z-index: 2;
}

.single-diamond-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.single-diamond-button img {
  transform: rotate(-45deg);
  width: 130%;
  height: 130%;
}

.diamond-grid-animated-container {
  position: absolute;
  top: 50%;
  left: -150px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.diamond-grid-wrapper {
  position: relative;
}

.mini-diamond-button {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  transition: opacity 0.3s, border 0.3s;
}

.mini-diamond-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.mini-diamond-button img {
  transform: rotate(-45deg);
  width: 130%;
  height: 130%;
}

.mini-animated-button {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

.hide-mini-diamond .mini-diamond-button {
  opacity: 0;
}

.placeholder {
  width: 150px;
  height: 150px;
}

.diamond-grid {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.diamond-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: transform 0.3s, border 0.3s;
}

.diamond-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.diamond-button img {
  transform: rotate(-45deg);
  width: 130%;
  height: 130%;
}

.button-1 {
  top: -10px;
  left: 30px;
}

.button-2 {
  top: 30px;
  left: -10px;
}

.button-3 {
  top: 30px;
  left: 70px;
}

.button-4 {
  top: 70px;
  left: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.mini-animated-button .button-container {
  transform: scale(0.5);
}

.animated-button {
  position: relative;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255, 105, 180, 1) 0%, rgba(255, 105, 180, 0) 70%);
  border-radius: 50%;
  animation: rotate 10s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.animated-button:hover {
  transform: scale(1.1);
}

.animated-button img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
}

.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 0.5px solid #fff;
  transform-origin: center center;
  animation: morph 10s infinite linear;
  transition: width 0.3s, height 0.3s;
}

.shape1 {
  transform: translate(-50%, -50%) rotate(0deg);
}

.shape2 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.shape3 {
  transform: translate(-50%, -50%) rotate(70deg);
}

.shape4 {
  transform: translate(-50%, -50%) rotate(115deg);
}

.animated-button:hover .shape {
  width: 120px !important;
  height: 120px !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0%, 100% {
    border-radius: 0%;
    width: 100px;
    height: 100px;
  }
  50% {
    border-radius: 50%;
    width: 80px;
    height: 120px;
  }
}
