.diamond-grid {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.diamond-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: transform 0.3s, border 0.3s;
}

.diamond-button::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.3s;
}

.diamond-button:hover::before {
  border-color: rgba(255, 255, 255, 1);
}

.diamond-button span {
  transform: rotate(-45deg);
}

.button-1 {
  top: -15px;
  left: 30px;
}

.button-2 {
  top: 30px;
  left: -15px;
}

.button-3 {
  top: 30px;
  left: 75px;
}

.button-4 {
  top: 75px;
  left: 30px;
}
