.single-diamond-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.single-diamond-button {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s, transform 0.3s, border 0.3s;
  cursor: pointer;
  z-index: 2;
}

.single-diamond-button::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.3s;
}

.single-diamond-button:hover::before {
  border-color: rgba(255, 255, 255, 1);
}

.single-diamond-button span {
  transform: rotate(-45deg);
}

.diamond-grid-animated-container {
  position: absolute;
  top: 50%;
  left: -200px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.diamond-grid-wrapper {
  position: relative;
}

.mini-diamond-button {
  position: absolute;
  left: -90px;
  width: 40px;
  height: 40px; 
  background-color: #ff6347;
  opacity: 0.5;
  transform: rotate(45deg);
  border: 1px solid white;
  transition: opacity 0.3s;
}

.mini-animated-button {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5); 
}

.hide-mini-diamond .mini-diamond-button {
  opacity: 0;
}

.placeholder {
  width: 150px;
  height: 150px;
}
