.single-diamond-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.diamond-grid {
  position: relative;
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond-button {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.diamond-button::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: transparent;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.diamond-button:hover::before {
  border: 1px solid white;
}

.diamond-button img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 1;
}

.diamond-button:hover img {
  width: 100%;
  height: 100%;
}

.button-1 { top: 0; left: 60px; }
.button-2 { top: 60px; left: 0; }
.button-3 { top: 60px; left: 120px; }
.button-4 { top: 120px; left: 60px; }

.single-diamond-button {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  outline: none;
}

.single-diamond-button::before {
  content: '';
  position: absolute;
  transition: all 0.3s ease;
}

.single-diamond-button:not(.prismatic-selected)::before {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  transform: rotate(45deg);
}

.single-diamond-button.prismatic-selected::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: none;
}

.single-diamond-button:hover::before {
  border: 1px solid white;
}

.single-diamond-button.prismatic-selected:hover::before {
  border: none;
}

.single-diamond-button img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 1;
}

.single-diamond-button:hover img {
  width: 100%;
  height: 100%;
}

.prismatic-button {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 2;
}

.prismatic-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -1;
}

.prismatic-button:hover::before {
  box-shadow: 0 0 100px 50px rgba(255, 105, 180, 0.5);
}

.prismatic-button img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.circular-icon {
  border-radius: 50%;
}

.rotating-square {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 1px solid rgba(172, 172, 172, 0.5);
  opacity: 0.5;
  z-index: -1;
}

.prismatic-button.diamond-shape .rotating-square {
  transform: rotate(45deg);
}