.single-diamond-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.single-diamond-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Initial border with 50% opacity */
  transition: opacity 0.3s, transform 0.3s, border 0.3s;
  cursor: pointer;
  z-index: 2;
}

.single-diamond-button::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.3s;
}

.single-diamond-button:hover::before {
  border-color: rgba(255, 255, 255, 1); /* 100% opacity border on hover */
}

.single-diamond-button span {
  transform: rotate(-45deg);
}

.diamond-grid-animated-container {
  position: absolute;
  top: 50%;
  left: -120px; /* Adjust position to appear to the left */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.diamond-grid-wrapper {
  position: relative;
}

.mini-diamond-button {
  width: 30px;
  height: 30px;
  background-color: #ff6347;
  opacity: 0.5;
  transform: rotate(45deg);
  border: 1px solid white;
  transition: opacity 0.3s;
}

.mini-animated-button {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
}

.hide-mini-diamond .mini-diamond-button {
  opacity: 0;
}
